<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
    <h1>Login page</h1>
    <br>
    <span>
        <a href="/oauth2/authorization/naver">Login with Naver</a>
        <a href="/oauth2/authorization/google">Login with Google</a>
    </span>
</body>
</html>